<h1 [ngStyle]="{
'background-color': '#000',
'color': color,
'border': 'solid 5px ' + color
}">
  HOLA DESDE BANNER
</h1>

<div class="row">
  <div class="col-sm-6">
    <img [src]="urlImagen" class="img-fluid" alt="">
  </div>
  <div class="col-sm-6">
    <img [src]="urlImagen" class="img-fluid" alt="">
  </div>
  <div class="col-sm-6">
    <img [src]="urlImagen" class="img-fluid" alt="">
  </div>
</div>

<!-- interpolación {{}} -> TEXTO MUESTRA INTERFAZ -->
<h2>{{nombre}} - {{apellido}}</h2>
<p>Mascota: {{mascotas.cachetes.edad}}</p>
<!-- Property Binding [] -->

<a [href]="url" target="_blank">
  Mas informacion
</a>
<!-- Event Binding [] -->
<button (click)="ejecutarEventoClick()"
        (blur)="ejecutarEventoBlur()"
>
  Event Binding
</button>

<!-- PIPES -->
<!-- RECIBE ALGO -> TRANSFORMA  -->
<p>{{fecha | date:'dd-MM-YYYY'}}</p>
<p>{{sueldo | currency}}</p>
<pre>
{{mascotas | json}}
</pre>
