<!-- EMMET -->
<h1>Epn</h1>
<ul>
  <li>
    <a [routerLink]="['/inicio']">Inicio</a>
  </li>
  <li>
    <a [routerLink]="['/login']">login</a>
  </li>
  <li>
    <a [routerLink]="['/app']">app</a>
    <ul>
      <li>
        <a [routerLink]="['/app', 'usuario']">App Usuario</a>
      </li>
      <li>
        <a [routerLink]="['/app', 'post']">App Post</a>
      </li>
    </ul>
  </li>
  <li>
    <a [routerLink]="['/lazy-inventario']">Inventario</a>
    <ul>
      <li>
        <a [routerLink]="['/lazy-inventario', 'bodega']">Bodega</a>
      </li>
      <li>
        <a [routerLink]="['/lazy-inventario', 'reporte']">Reporte</a>
      </li>
    </ul>
  </li>
</ul>

<button (click)="eventoHola()">
  Enviar hola
</button>

<router-outlet></router-outlet>
